[Unit]
Description=__APP__ Daemon
After=network.target

[Service]
PIDFile=__INSTALL_DIR__/__APP__-pid
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/venv/bin/gunicorn -c __INSTALL_DIR__/gunicorn.py wsgi:app --pid __INSTALL_DIR__/__APP__-pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
